*{
margin:0;
padding:0;
box-sizing: border-box;
font-family:'Gilroy';

}
body,html{
height:100%;
width:100%;
}
.parent{
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.card{
  
  height: 370px;
  width: 280px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 2px 2px 2px 2px rgb(60, 39, 39);

}
.img{
  width: 53px;
  height: 53px;
 background-color: #d6d6d6;
  border-radius: 100px;
 display: flex;
 align-items: center;
 justify-content: center;
 border: 1px solid black;
}
.img img{
  width: 40px;
  height: 40px;
  border-radius: 100px;
  object-fit: cover;

}
.top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top button{
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 2px 10px;
  color: #222222c1;
  cursor: pointer;
  
  border-radius: 7px;
  border: 1px solid black;
}
.center{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.center span{
  margin-left: 5px;
  font-size: 0.8rem;
 font-weight: 200;
 color: #222222c1;
}
.time h4{
  border: 1px solid gray;
  padding: 2px 10px;
  background-color: #dedddd;
  border-radius: 7px;
  color:rgb(70, 70, 70) ;
  font-weight: 500;

}
.time{
  display: flex;
  gap:5px;
}
hr{
  
  margin-top: 120px;
}
.bottom{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom div{
  display: flex;
  flex-direction: column;

}
.bottom p{
  font-weight: 100;
  font-size:smaller;
  color: #959595;
}
.bottom button{
  padding: 5px 8px ;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}


